@-webkit-keyframes swing {
  0% {
      width: 70%;
  }
  15%{
    width: 0;
  }
  100% {
    width: 70%;
  }
}
 
@keyframes swing {
  0% {
    width: 70%;
  }
  15%{
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes panel-color {
  0%{
    background: #2cac8f;
  }
  50%{
    background: #e7304e;

  }
  100%{
    background: #2cac8f;

  }
}

@keyframes panel-color {
  0%{
    background: #2cac8f;
  }
  50%{
    background: #e7304e;

  }
  100%{
    background: #2cac8f;

  }
}

@-webkit-keyframes menu-rotate {
  0%{
     -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
  }
  25%{
    border-color: #d5314a;
  }
  50%{
     -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75%{
    border-color: #30b191;


  }
  100%{
     -webkit-transform: rotate(315deg);
   transform: rotate(315deg);
   border-color: #fff;

  }
}

@keyframes menu-rotate {
   0%{
     -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
  }
  25%{
    border-color: #d5314a;
  }
  50%{
     -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75%{
    border-color: #30b191;


  }
  100%{
     -webkit-transform: rotate(315deg);
   transform: rotate(315deg);
   border-color: #fff;

  }
}

@-webkit-keyframes menu-rotate-hover {
  0%{
     -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100%{
     -webkit-transform: rotate(405deg);
   transform: rotate(405deg);

  }
}

@keyframes menu-rotate-hover {
  0%{
     -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100%{
     -webkit-transform: rotate(405deg);
   transform: rotate(405deg);

  }
}


@-webkit-keyframes menu-close-rotate {
  0%{
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50%{
     -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

  }
  100%{
     -webkit-transform: rotate(360deg);
   transform: rotate(360deg);

  }
}

@keyframes menu-close-rotate {
  0%{
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50%{
     -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

  }
  100%{
     -webkit-transform: rotate(360deg);
   transform: rotate(360deg);

  }
}

@-webkit-keyframes menu-close-rotate-hover {
  0%{
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
     -webkit-transform: rotate(-270deg);
   transform: rotate(-270deg);

  }
}

@keyframes menu-close-rotate-hover {
  0%{
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
     -webkit-transform: rotate(-270deg);
   transform: rotate(-270deg);

  }
}

@-webkit-keyframes bounceInDownArr {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDownArr {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  70% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDownArr {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInUpArr {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

 /* 60% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }*/

  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInUpArr {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  /*60% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }*/

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInUpArr {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}





@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}



@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}







@-webkit-keyframes pulsing {
  0% {
opacity: 0.2;
  }
  50%{
opacity: 0.4;
  }
  100% {
opacity: 0.2;
  }
}
@keyframes pulsing {
  0% {
opacity: 0.2;
  }
  50%{
opacity: 0.4;
  }
  100% {
opacity: 0.2;
  }
}


/* 
.skills-bar:hover .html {
  background: #000;
  -webkit-animation: swing 1s ease-in-out;
  animation: swing 1s ease-in-out;
   -webkit-animation-direction: alternative;
   -o-animation-direction: alternative;
   animation-direction: alternative;
}
*/