@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: 'FuturaPT';
  src: url("/fonts/FuturaPT/FuturaPTMedium.ttf"); }

@font-face {
  font-family: 'FuturaPTL';
  src: url("/fonts/FuturaPT/FuturaPTLight.ttf"); }

@font-face {
  font-family: 'FuturaPTB';
  src: url("/fonts/FuturaPT/FuturaPTBook.ttf"); }

@font-face {
  font-family: 'FuturaPTH';
  src: url("/fonts/FuturaPT/FuturaPTHeavy.ttf"); }

@font-face {
  font-family: 'FuturaPTD';
  src: url("/fonts/FuturaPT/FuturaPTDemi.ttf"); }

@font-face {
  font-family: 'MaryadPro';
  src: url("/fonts/MyriadPro/MyriadPro-Regular.otf"); }

@media all and (min-width: 1400px) {
  #make .make-list .make-item {
    font-size: 36px; }
  #call .contact .cont-list .cont-link {
    font-size: 26px; }
  footer div {
    font-size: 18px; }
    footer div span {
      font-size: 18px; } }

@media all and (max-width: 1200px) {
  #make .make-list {
    padding-left: 6%; }
  #skills .skill-text {
    font-size: 26px; }
  #first .motto {
    font-size: 36px; } }

@media all and (max-width: 1060px) {
  #works .carousel {
    height: 240px !important; }
    #works .carousel .carousel-cell .more {
      height: 30px;
      font-size: 18px; }
  #make .make-list {
    width: 74%;
    column-gap: 0em; }
    #make .make-list .make-item {
      font-size: 22px; }
  #skills .skills-bar {
    width: 33%; } }

@media all and (max-width: 900px) {
  .popup-more {
    width: 90%;
    min-height: 400px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: auto; }
    .popup-more .popup-img,
    .popup-more .popup-text {
      width: 90%;
      margin: 5% auto 0;
      top: 0;
      transform: none; }
    .popup-more .open {
      height: 30px;
      position: relative;
      margin-top: 15px; } }

@media all and (max-width: 896px) {
  #call .contact .cont-list {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #skills .skill-text {
    font-size: 22px; } }

@media all and (max-width: 795px) {
  #up {
    transform: scale(0.8); }
  #make .make-list {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    text-align: center;
    padding-left: 0;
    width: 80%; }
    #make .make-list .make-item {
      margin-left: 0; }
  #call .contact .cont-list {
    width: 95%;
    padding-left: 30%; }
    #call .contact .cont-list .cont-link {
      width: 65%; }
  .carousel--show-several .carousel-cell {
    width: 45%; } }

@media all and (max-width: 670px) {
  #first:before {
    box-shadow: inset 0px 0px 350px 50px #000; }
  #works:before {
    box-shadow: inset 0px 0px 350px 100px #000; }
  .nav-menu:before {
    left: 0;
    transform: none;
    width: 100%;
    height: 120%;
    border-radius: 0 0 5px 0; }
  .nav-menu {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30%;
    min-width: 160px;
    max-height: 200px;
    height: 200px; }
    .nav-menu .nav-a {
      width: 100%; }
    .nav-menu .close {
      top: 20px;
      left: 0; }
    .nav-menu .close:before, .nav-menu .close:after {
      top: -5px; }
  .popup-about {
    padding-top: 0; }
    .popup-about .about-name {
      display: block;
      text-align: center; }
    .popup-about div span {
      font-size: 16px; }
  #call .contact .cont-list {
    width: 100%; }
    #call .contact .cont-list .cont-link {
      font-size: 20px; } }

@media all and (max-width: 620px) {
  #first .motto {
    font-size: 30px; }
  .popup-about .about-name {
    font-size: 30px; }
  #call .contact .cont-list {
    width: 90%;
    text-align: center;
    padding-left: 0; }
    #call .contact .cont-list .cont-link {
      width: 100%; }
  #call .row .well .form .row .form-group {
    width: 100%;
    padding: 0; }
  footer div {
    font-size: 12px; }
    footer div span {
      font-size: 10px; } }

@media all and (max-width: 426px) {
  .menu-button:before {
    animation: none;
    border: none;
    background: #2cac8f;
    opacity: 0.5; }
  .menu-button {
    width: 35px;
    height: 35px; }
    .menu-button .menu-capt {
      display: none; }
    .menu-button .ninja-button {
      display: block; }
  .nav-menu:before {
    background: #2cac8f;
    border-right: 0 0 15px 0; }
  .close {
    opacity: 1; }
  .close:before, .close:after {
    background: #fff; }
  .site-h {
    padding: 4.5% 0; }
  .carousel--show-several .carousel-cell {
    width: 70%; }
  #works .carousel .carousel-cell .more {
    font-size: 14px; }
  #skills .skills-bar .small {
    font-size: 60px; }
  #skills .skill-text {
    display: none; }
  .popup-about {
    width: 80%; }
    .popup-about div {
      font-size: 18px; }
      .popup-about div span {
        font-size: 14px; }
    .popup-about .about-name {
      font-size: 30px; }
    .popup-about ul {
      padding-left: 10px; }
  #call .contact .cont-list .cont-link {
    font-family: FuturaPTL;
    font-size: 20px; } }

/*# sourceMappingURL=media.css.map */
