@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: 'FuturaPT';
  src: url("/fonts/FuturaPT/FuturaPTMedium.ttf"); }

@font-face {
  font-family: 'FuturaPTL';
  src: url("/fonts/FuturaPT/FuturaPTLight.ttf"); }

@font-face {
  font-family: 'FuturaPTB';
  src: url("/fonts/FuturaPT/FuturaPTBook.ttf"); }

@font-face {
  font-family: 'FuturaPTH';
  src: url("/fonts/FuturaPT/FuturaPTHeavy.ttf"); }

@font-face {
  font-family: 'FuturaPTD';
  src: url("/fonts/FuturaPT/FuturaPTDemi.ttf"); }

@font-face {
  font-family: 'MaryadPro';
  src: url("/fonts/MyriadPro/MyriadPro-Regular.otf"); }

.popup:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #96315b;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: inset 0px 0px 100px 70px rgba(0, 0, 0, 0.8); }

.popup {
  max-width: 800px;
  width: 60%;
  min-width: 150px;
  max-height: 500px;
  height: 50%;
  min-height: 200px; }

.popup {
  display: none;
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 3000;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .popup .popup-img {
    height: 70%;
    width: 40%;
    position: relative;
    background-size: cover;
    border-radius: 5px;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease; }
  .popup .popup-text {
    width: 40%;
    height: 70%;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    font-size: 22px;
    font-family: FuturaPTL;
    font-weight: 700;
    letter-spacing: 1px;
    overflow: auto; }
  .popup .popup-h {
    margin-bottom: 15px;
    font-size: 30px; }
  .popup .open {
    text-decoration: none;
    width: 15%;
    height: 10%;
    position: absolute;
    bottom: 3%;
    right: 3%;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    color: #fff;
    text-align: center;
    background: #0d322a;
    border: 1px solid #fff;
    border-radius: 5px; }
    .popup .open div {
      position: relative;
      font-size: 24px; }
  .popup .open:hover {
    background: #2cac8f; }

.popup-gallery:before {
  opacity: 0; }

.popup-gallery {
  overflow: auto;
  height: 70%;
  max-height: 900px; }
  .popup-gallery .gallery-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    border-radius: 10px;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease; }
  .popup-gallery .gallery-item {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-size: 100%;
    position: relative;
    margin-bottom: 10px; }
  .popup-gallery .gallery-item:last-child {
    margin-bottom: 0; }
  .popup-gallery .gallery-item:hover:before {
    opacity: 0.3; }

.popup-about:before {
  opacity: 0; }

.popup-about {
  padding: 15px;
  overflow: auto;
  display: none;
  background: #fff;
  height: 70%; }
  .popup-about img {
    float: right;
    border-radius: 10px;
    position: relative;
    z-index: 15;
    margin: 0 1.5% 5px 1.5%;
    width: 30%; }
  .popup-about div {
    position: relative;
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    color: #22836d;
    margin: 10px 0; }
    .popup-about div span {
      color: #000;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 1px; }
  .popup-about ul {
    float: left;
    list-style-position: outside; }
    .popup-about ul li {
      margin: 10px 0;
      color: #000;
      font-weight: normal;
      list-style-type: none; }
    .popup-about ul li:before {
      content: '- '; }
  .popup-about .about-name {
    font-size: 35px;
    display: inline-block;
    color: #000; }
  .popup-about .vacant {
    font-size: 16px;
    font-weight: normal;
    color: #000; }
  .popup-about .my-skills-h {
    margin-top: 10px; }

/*# sourceMappingURL=popup.css.map */
