::-webkit-scrollbar-button {
background-image: url('');
background-repeat: no-repeat;
width: 5px;
height: 0px
}

::-webkit-scrollbar-track {
background-color:#ecedee;
border-radius: 10px;
-webkit-border-radius: 10px;

}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background-color: #48d2b3;
transition: 0.5s ease;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
}

::-webkit-scrollbar-thumb:hover{
background-color: #28987f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width: 4px;
height: 0px
}

::-webkit-scrollbar{
width: 5px;
}